<div id="head-nav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <app-head-navbar-main-menu></app-head-navbar-main-menu>
  </div>
</div>

<div id="cl-wrapper" class="fixed-menu">
  <div class="cl-sidebar" data-position="right" data-step="1" data-intro="<strong>Fixed Sidebar</strong> <br/> It adjust to your needs.">
    <div class="cl-toggle"><i class="fa fa-bars"></i></div>
    <div class="cl-navblock">
      <div class="menu-space nano nscroller has-scrollbar" style="height: 710px;">
        <div class="content" tabindex="0" style="right: -17px;">
          <app-left-sidebar></app-left-sidebar>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid" id="pcont">
    <app-main-content></app-main-content>
  </div>
</div>
