<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Projects List
      </div>
      <div class="card-block">
        <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
          <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
          <input #filter type="text" pInputText size="20" placeholder="Filtre">
        </div>

        <p-dataTable [value]="projects"
                     [globalFilter]="filter"
                     [responsive]="true"
                     [loading]="loading"
                     scrollable="true"
                     scrollHeight="500px">

          <p-column field="id" header="Id" [sortable]="true" [style]="{'width': '75px'}"></p-column>
          <p-column field="name" header="Project Name" [sortable]="true" [style]="{'width': '120px'}"></p-column>
          <p-column field="description" header="Description"></p-column>
          <p-column field="enable" header="Enable"></p-column>
          <p-column field="repositoryUrl" header="Repository URL"></p-column>
          <p-column field="branches" header="Branches"></p-column>


          <p-column header="Actions" [style]="{'width': '115px'}">
            <ng-template let-project="rowData" pTemplate="body">
              <button class="btn btn-secondary btn-sm" type="button" (click)="redirectToBuildsPage(project)"><i class="fa fa-info-circle"></i></button>
              <button class="btn btn-success btn-sm" type="button"><i class="fa fa-play"></i></button>
              <button class="btn btn-primary btn-sm" type="button" (click)="redirectToEditPage(project)"><i class="fa fa-pencil"></i></button>
              <button class="btn btn-danger btn-sm" type="button"><i class="fa fa-trash"></i></button>
            </ng-template>
          </p-column>
        </p-dataTable>
      </div>
    </div>
  </div>
</div>
