<header class="app-header navbar">

  <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">&#9776;</button>

  <a class="navbar-brand" href="#"></a>

  <ul class="nav navbar-nav hidden-md-down b-r-1">
    <li class="nav-item">
      <a class="nav-link navbar-toggler sidebar-toggler" href="#">&#9776;</a>
    </li>
  </ul>

  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown" dropdown>
      <a class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle >
        Yolo
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="simple-dropdown" *dropdownMenu>
        <div class="dropdown-header text-center"><strong>Settings</strong></div>

        <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>
        <a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Setting</a>
        <a class="dropdown-item" href="#"><i class="fa fa-lock"></i> Logout</a>
      </div>
    </li>
  </ul>

</header>
