<div class="sidebar">

  <nav class="sidebar-nav">
    <ul class="nav">

      <li class="nav-title">Tools</li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/project']" translate >
          <i class="fa fa-puzzle-piece"></i> Project
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/project/add']" translate >
          <i class="fa fa-plus"></i> Add Project
        </a>
      </li>

    </ul>
  </nav>
</div>
