<div class="page-head">
  <h2>Blank Page</h2>
  <ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Category</a></li>
    <li class="active">Sub Category</li>
  </ol>
</div>
<div class="cl-mcont">

  <div class="row">
    <div class="col-md-8">
      <div class="block-flat">
        <div class="header">
          <h3>Title</h3>
        </div>
        <div class="content">
          <p>Content</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="block-flat">
        <div class="header">
          <h3>Title</h3>
        </div>
        <div class="content">
          <p>Content</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="block-flat">
        <div class="header">
          <h3>Title</h3>
        </div>
        <div class="content">
          <p>Content</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="block-flat">
        <div class="header">
          <h3>Title</h3>
        </div>
        <div class="content">
          <p>Content</p>
        </div>
      </div>
    </div>
  </div>
</div>
