<div class="side-user">
  <div class="avatar"><a href="#"><img src="assets/img/profile-icon.jpg" style="width: 50px; height: 50px;" alt="Avatar"></a></div>
  <div class="info">
    <a href="#">Jérémy Boehm</a>
    <img src="assets/img/state_online.png" alt="Status"> <span>Online</span>
  </div>
</div>
<ul class="cl-vnavigation">
  <li><a href="#"><span>Dashboard</span></a>
  </li>
  <li><a href="#"><span>UI Elements</span></a>
  </li>
  <li><a href="#"><span>Forms</span></a>
  </li>
  <li><a href="#"><span>Tables</span></a>
  </li>
  <li><a href="#"><span>Maps</span></a>
  </li>
  <li><a href="#"><span>Email</span></a>
  </li>
  <li><a href="#"><span>Typography</span></a></li>
  <li><a href="#"><span>Charts</span></a></li>
  <li><a href="#"><span>Pages</span></a>
  </li>
</ul>
