<div class="row">
  <div class="col-sm-1">
    <button class="btn btn-secondary btn-sm btn-block" type="button" (click)="redirectToBuildPage(build)" translate><i class="fa fa-arrow-left"></i> steps.back</button>
  </div>
</div>

<div class="col-xs-12 field-space"></div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-cogs"></i>{{ 'steps.build.label' | translate }}{{ build.id }}
      </div>
      <div class="card-block">
        <div class="col-md-9">
          <ul>
            <li><b translate>steps.build.start</b>{{ build.startBy }}</li>
            <div class="col-xs-12 field-space"></div>
            <li><b translate>steps.build.commitMessage</b> {{ build.commitMessage }}</li>
            <div class="col-xs-12 field-space"></div>
            <li><b translate>steps.build.commitHash</b> {{ build.commitHash }}</li>
            <div class="col-xs-12 field-space"></div>
            <li><b translate>steps.build.startedAt</b>{{ build.buildStart | date: 'medium' }}</li>
            <div class="col-xs-12 field-space"></div>
            <li><b translate>steps.build.endAt</b>{{ build.buildEnd | date: 'medium' }}</li>
            <div class="col-xs-12 field-space"></div>
            <li><b translate>steps.build.time</b>{{
              (!build.buildEnd)
              ? ((today | amDifference: build.buildStart  : 'minutes') == 0)
                  ? (today | amDifference: build.buildStart  : 'seconds') + " seconde(s)"
                  : (today | amDifference: build.buildStart  : 'minutes') + " minute(s)"
              : ((build.buildEnd | amDifference: build.buildStart : 'minutes') == 0)
                  ? (build.buildEnd | amDifference: build.buildStart : 'seconds')  + " seconde(s)"
                  : (build.buildEnd | amDifference: build.buildStart : 'minutes') + " minute(s)"
              }}
            </li>
            <div class="col-xs-12 field-space"></div>
            <li *ngIf="build.error"><b translate>steps.build.error</b>{{ build.error }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<p-accordion [multiple]="true" [lazy]="true" (onOpen)="onTabOpen($event)" (onClose)="onTabClose($event)">
  <ng-template ngFor let-i="index" let-step [ngForOf]="steps" [ngBusy]="stepsLoading">
    <div class="row">
      <div class="col-md-12">
        <div class="card" [ngClass]="classDependingOnStepStatus(step)">
            <p-accordionTab [header]="displayAccordionTabHeader(step)" [selected]="isAccordionSelected(i)">
              <b translate>steps.step.start</b>{{ step.stepStart |  date: 'medium' }}
              <div class="col-xs-12 field-space"></div>
              <b translate>steps.step.endAt</b>{{ step.stepEnd |  date: 'medium' }}
              <div class="col-xs-12 field-space"></div>
              <span style="white-space: pre">{{ step.commandResult }}</span>
            </p-accordionTab>
        </div>
      </div>
    </div>
  </ng-template>
</p-accordion>
