<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header" *ngIf="!isEdited">
        <i class="fa fa-plus"></i> New Project
      </div>
      <div class="card-header" *ngIf="isEdited">
        <i class="fa fa-pencil"></i> Edit Project
      </div>

      <div class="card-block">

        <form #f="ngForm">
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="name">Name</label>
            <div class="col-md-9">
              <input type="text" id="name" name="name" class="form-control"
                     required
                     placeholder="Project Name"
                     [(ngModel)]="project.name" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="description">Description</label>
            <div class="col-md-9">
              <textarea type="text" id="description" class="form-control" name="description"
                        required
                        placeholder="Description"
                        [(ngModel)]="project.description">
              </textarea>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 form-control-label">Enable</label>
            <div class="col-md-9">
              <label class="switch switch-text switch-success">
                <input class="switch-input" type="checkbox" name="enable" [(ngModel)]="project.enable" checked="(project.enable)?'':null">
                <span class="switch-label" data-off="No" data-on="Yes"></span>
                <span class="switch-handle"></span>
              </label>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="repositoryUrl">Repository URL</label>
            <div class="col-md-9">
              <input type="text" id="repositoryUrl" class="form-control" name="repositoryUrl"
                     required
                     pattern="((git|ssh|http(s)?)|(git@[\w\.]+))(:(//)?)([\w\.@\:/\-~]+)(\.git)?(/)?"
                     placeholder="ex: https://github.com/Travel-CI/tci-project"
                     [(ngModel)]="project.repositoryUrl" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="branches">Branches</label>
            <div class="col-md-9">
              <input type="text" id="branches" class="form-control" name="branches"
                     required
                     pattern="[a-zA-Z0-9 ,-\/]*"
                     placeholder="ex: master, dev, another_branch_to_build"
                     [(ngModel)]="project.branches" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="dockerfile">Dockerfile Location</label>
            <div class="col-md-9">
              <input type="text" id="dockerfile" class="form-control" name="dockerfile"
                     pattern="[a-zA-Z0-9 -\/]*"
                     placeholder="Empty if root folder"
                     [(ngModel)]="project.dockerfileLocation" />
            </div>
          </div>
        </form>
      </div>

      <div class="card-footer">
        <button type="submit" class="btn btn-primary" *ngIf="isEdited" (click)="updateProject()" [disabled]="!f.form.valid"><i class="fa fa-dot-circle-o"></i> Edit Project</button>
        <button type="submit" class="btn btn-primary" *ngIf="!isEdited" (click)="createProject()" [disabled]="!f.form.valid"><i class="fa fa-plus"></i> Add Project</button>
        <button type="reset" (click)="clearFields()" class="btn btn-danger"><i class="fa fa-ban"></i> Cancel</button>
      </div>
    </div>
  </div>

  <div class="col-md-6" style="height: 100%;width: 100%;">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-cog"></i> Commands
      </div>
      <div class="card-block">
        <p-dataTable [value]="commands"
                     [responsive]="true"
                     [loading]="loading"
                     scrollable="true"
                     scrollHeight="350px">
          <p-column field="commandOrder" header="Order" [sortable]="true">
          </p-column>
          <p-column field="command" header="Command">
            <ng-template pTemplate="edit" let-col let-data="rowData">
              <input type="text" class="form-control" placeholder="Command" [(ngModel)]="data[col.field]"/>
            </ng-template>
          </p-column>

          <p-column field="enabled" header="Enable">
            <ng-template pTemplate="body" let-col let-data="rowData">
              <div class="text-center">
                <label class="switch switch-text switch-success">
                  <input class="switch-input" type="checkbox" [(ngModel)]="data[col.field]">
                  <span class="switch-label" data-off="No" data-on="Yes"></span>
                  <span class="switch-handle"></span>
                </label>
              </div>
            </ng-template>
          </p-column>

          <p-column field="enableLogs" header="Logs">
            <ng-template pTemplate="body" let-col let-data="rowData">
              <div class="text-center">
                <label class="switch switch-text switch-success">
                  <input class="switch-input" type="checkbox" [(ngModel)]="data[col.field]">
                  <span class="switch-label" data-off="No" data-on="Yes"></span>
                  <span class="switch-handle"></span>
                </label>
              </div>
            </ng-template>
          </p-column>

          <p-column header="Action" [style]="{'width': '60px'}">
            <ng-template let-command="rowData" pTemplate="body">
              <div class="text-center">
                <button class="btn btn-danger btn-sm" type="button" (click)="deleteCommand(command)"><i class="fa fa-trash"></i></button>
              </div>
            </ng-template>
          </p-column>

          <p-footer>
            <div class="ui-helper-clearfix">
              <button type="button" class="btn btn-primary" (click)="addNewCommand()" style="float: left;"><i class="fa fa-plus"></i> Add</button>
            </div>
          </p-footer>
        </p-dataTable>
      </div>
    </div>
  </div>
</div>

<toaster-container [toasterconfig]="toasterConfig"></toaster-container>
