<div class="row">
  <div class="col-md-6">
    <div class="card">

      <div class="card-header" *ngIf="!isEdited" translate>
        <i class="fa fa-plus"></i> add.headers.add
      </div>
      <div class="card-header" *ngIf="isEdited" translate>
        <i class="fa fa-pencil"></i> add.headers.edit
      </div>

      <div class="card-block">

        <form #f="ngForm">

          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="name" translate>add.forms.name.label</label>
            <div class="col-md-9">
              <input type="text" id="name" name="name" class="form-control"
                     required
                     placeholder="{{ 'add.forms.name.placeholder' | translate }}"
                     [(ngModel)]="project.name" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="description" translate>add.forms.description.label</label>
            <div class="col-md-9">
              <textarea type="text" id="description" class="form-control" name="description"
                        required
                        placeholder="{{ 'add.forms.description.placeholder' | translate }}"
                        [(ngModel)]="project.description">
              </textarea>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 form-control-label" translate>add.forms.enable.label</label>
            <div class="col-md-9">
              <label class="switch switch-text switch-success">
                <input class="switch-input" type="checkbox" name="enable" [(ngModel)]="project.enable" checked="(project.enable)?'':null">
                <span class="switch-label" data-off="No" data-on="Yes"></span>
                <span class="switch-handle"></span>
              </label>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="repositoryUrl" translate>add.forms.repository.label</label>
            <div class="col-md-9">
              <input type="text" id="repositoryUrl" class="form-control" name="repositoryUrl"
                     required
                     pattern="((git|ssh|http(s)?)|(git@[\w\.]+))(:(//)?)([\w\.@\:/\-~]+)(\.git)?(/)?"
                     placeholder="{{ 'add.forms.repository.placeholder' | translate }}"
                     [(ngModel)]="project.repositoryUrl" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="branches" translate>add.forms.branches.label</label>
            <div class="col-md-9">
              <input type="text" id="branches" class="form-control" name="branches"
                     required
                     pattern="[a-zA-Z0-9 ,-\/]*"
                     placeholder="{{ 'add.forms.branches.placeholder' | translate }}"
                     [(ngModel)]="project.branches" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="dockerfile" translate>add.forms.dockerfile.label</label>
            <div class="col-md-9">
              <input type="text" id="dockerfile" class="form-control" name="dockerfile"
                     pattern="[a-zA-Z0-9 -\/]*"
                     placeholder="{{ 'add.forms.dockerfile.placeholder' | translate }}"
                     [(ngModel)]="project.dockerfileLocation" />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 form-control-label" for="emails" translate>add.forms.emails.label</label>
            <div class="col-md-9">
              <input type="text" id="emails" class="form-control" name="emails"
                     pattern="(\s*,?\s*[0-9a-zA-Z]([-.\w]*[0-9a-zA-Z])*@([0-9a-zA-Z][-\w]*[0-9a-zA-Z]\.)+[a-zA-Z]{2,9})+\s*"
                     placeholder="{{ 'add.forms.emails.placeholder' | translate }}"
                     [(ngModel)]="project.emails" />
            </div>
          </div>
        </form>
      </div>

      <div class="card-footer">
        <button type="submit" class="btn btn-primary mouse-pointer" *ngIf="isEdited" (click)="updateProject()" [disabled]="!f.form.valid" translate><i class="fa fa-dot-circle-o"></i> add.forms.buttons.edit</button>
        <button type="submit" class="btn btn-primary mouse-pointer" *ngIf="!isEdited" (click)="createProject()" [disabled]="!f.form.valid" translate><i class="fa fa-plus"></i> add.forms.buttons.save</button>
        <button type="reset" (click)="clearFields()" class="btn btn-danger mouse-pointer" translate><i class="fa fa-ban"></i> add.forms.buttons.cancel</button>
      </div>
    </div>
  </div>

  <div class="col-md-6" style="height: 100%;width: 100%;">
    <div class="card">

      <div class="card-header" translate>
        <i class="fa fa-cog"></i> add.commands.label
      </div>

      <div class="card-block">
        <p-dataTable [value]="commands"
                     [responsive]="true"
                     [loading]="loading"
                     scrollable="true"
                     scrollHeight="350px">

          <p-column field="commandOrder" header="{{ 'add.commands.headers.order' | translate }}" [sortable]="true"></p-column>

          <p-column field="command" header="{{ 'add.commands.headers.command' | translate }}">
            <ng-template pTemplate="edit" let-col let-data="rowData">
              <input type="text" class="form-control" placeholder="{{ 'add.commands.headers.command' | translate }}" [(ngModel)]="data[col.field]"/>
            </ng-template>
          </p-column>

          <p-column field="enabled" header="{{ 'add.commands.headers.enable' | translate }}">
            <ng-template pTemplate="body" let-col let-data="rowData">
              <div class="text-center">
                <label class="switch switch-text switch-success">
                  <input class="switch-input" type="checkbox" [(ngModel)]="data[col.field]">
                  <span class="switch-label" data-off="No" data-on="Yes"></span>
                  <span class="switch-handle"></span>
                </label>
              </div>
            </ng-template>
          </p-column>

          <p-column field="enableLogs" header="{{ 'add.commands.headers.enableLogs' | translate }}">
            <ng-template pTemplate="body" let-col let-data="rowData">
              <div class="text-center">
                <label class="switch switch-text switch-success">
                  <input class="switch-input" type="checkbox" [(ngModel)]="data[col.field]">
                  <span class="switch-label" data-off="No" data-on="Yes"></span>
                  <span class="switch-handle"></span>
                </label>
              </div>
            </ng-template>
          </p-column>

          <p-column header="{{ 'add.commands.headers.action' | translate }}" [style]="{'width': '60px'}">
            <ng-template let-command="rowData" pTemplate="body">
              <div class="text-center">
                <button class="btn btn-danger btn-sm mouse-pointer" type="button" (click)="deleteCommand(command)"><i class="fa fa-trash"></i></button>
              </div>
            </ng-template>
          </p-column>

          <p-footer>
            <div class="ui-helper-clearfix">
              <button type="button" class="btn btn-primary mouse-pointer" (click)="addNewCommand()" style="float: left;"><i class="fa fa-plus"></i> Add</button>
            </div>
          </p-footer>
        </p-dataTable>
      </div>
    </div>
  </div>
</div>

<toaster-container [toasterconfig]="toasterConfig"></toaster-container>
