<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-cogs"></i>{{ project.name }}
    </div>
    <div class="card-block">
      <div class="col-md-9">
        <ul>
          <li>
            {{ project.description }}
          </li>
          <br/>
          <li>
            <b>Repository URL :</b> {{ project.repositoryUrl }}
          </li>
          <br/>
          <li>
            <b>Branches :</b> {{ project.branches }}
          </li>
          <br/>
          <li>
            <b>Last Start :</b> {{ (!project.lastStart)? 'Project Never Built.' : project.lastStart | date: 'medium' }}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <ng-template ngFor let-build [ngForOf]="projectBuilds">
    <div class="col-md-12">
      <div class="card text-center" [ngClass]="cardClassDependingOnStatus(build)">
        <div class="card-header">
          <span class="badge float-left" [ngClass]="badgeDependingOnStatus(build)">{{ build.status }}</span>
          Build Name <u>#{{ build.id }}</u>
          <i class="fa fa-times float-right" (click)="deleteBuild()"></i>
        </div>
        <div class="card-block"></div>
      </div>
    </div>
  </ng-template>
</div>
