<div class="jumbotron-hr">
  <h1>Build List</h1>
</div>
<br>
<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <i class="fa fa-cogs"></i>
    </div>
    <div class="card-block">
      <div class="col-md-9">
        <ul>
          <li>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
          </li>
          <li>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
          </li>
          <li>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="card card-inverse text-center" [ngClass]="cardClassDependingOnStatus()">
      <blockquote class="card-blockquote">
        <br/>
          <h6>Build Name</h6>
        <br/>
      </blockquote>
    </div>
  </div>
</div>
