<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-cogs"></i>{{ project.name }}
      </div>
      <div class="card-block">
        <div class="col-md-9">
          <ul>
            <li>
              {{ project.description }}
            </li>
            <br/>
            <li>
              <b>Repository URL :</b> {{ project.repositoryUrl }}
            </li>
            <br/>
            <li>
              <b>Branches :</b> {{ project.branches }}
            </li>
            <br/>
            <li>
              <b>Last Start :</b> {{ (!project.lastStart)? 'Project Never Built.' : project.lastStart | date: 'medium' }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template ngFor let-build [ngForOf]="projectBuilds">
  <ng-container>
    <div class="row" [ngClass]="build.hidden ? 'remove-build': ''">
      <div class="col-md-12">
        <div class="card text-center" [ngClass]="classDependingOnStatus(build, false)">
          <div class="card-header">
            <span class="badge float-left" [ngClass]="classDependingOnStatus(build, true)">{{ build.status }}</span>
            Build Number : <u>#{{ build.id }}</u> / Branch Name : <u>{{ build.branch }}</u>
            <i class="fa fa-times float-right" *ngIf="build.status != 'IN_PROGRESS'" (click)="showDeleteBuildDialog(build)"></i>
          </div>
          <div class="card-block" (click)="redirectToStepPage(build)">

            <table align="center" width="100%" style="text-align: left;">
              <tr>
                <td width="25%"><b>Start by : </b>{{ build.startBy }}</td>
                <td style="text-align: center;">{{ build.commitMessage }}</td>
                <td width="25%" style="text-align: right;">{{ build.commitHash }}</td>
              </tr>
              <br/>
              <tr>
                <td width="25%"><b>StartAt : </b>{{ build.buildStart | date: 'medium' }}</td>
                <td style="text-align: center;"><b>EndAt : </b>{{ build.buildEnd | date: 'medium' }}</td>
                <td width="25%" style="text-align: right;"><b>Time : </b> time_to_add</td>
              </tr>
            </table>

          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-template>

<p-dialog appendTo="body" header="Delete Build" [(visible)]="dialogDeleteBuildVisible" modal="modal" width="300" [draggable]=false (onHide)="hideDeleteBuildDialog()">

  Are you sure to delete build #{{ confirmDeleteBuild.id }} ?
  <div class="col-xs-12" style="height:50px;"></div>
  <p-footer>
    <button type="button" class="btn btn-success" (click)="deleteBuild()"><i class="fa fa-check"></i> Yes</button>
    <button type="button" class="btn btn-danger" (click)="hideDeleteBuildDialog()"><i class="fa fa-ban"></i> No</button>
  </p-footer>
</p-dialog>

<toaster-container [toasterconfig]="toasterConfig"></toaster-container>
