<div class="row">
  <div class="col-sm-1">
    <button class="btn btn-secondary btn-sm btn-block mouse-pointer" type="button" (click)="redirectToProjectPage()" translate><i class="fa fa-arrow-left"></i> builds.back</button>
  </div>
</div>

<br/>
<div class="row">
  <div class="col-md-12">
    <div class="card">

      <div class="card-header">
        <i class="fa fa-cogs"></i>{{ project.name }}
      </div>

      <div class="card-block">
        <div class="col-md-9">
          <ul>
            <li>{{ project.description }}</li>
            <br/>
            <li><b translate>builds.project.repository</b> {{ project.repositoryUrl }}</li>
            <br/>
            <li><b translate>builds.project.branches</b> {{ project.branches }}</li>
            <br/>
            <li><b translate>builds.project.lastStart</b> {{ (!project.lastStart)? 'Project Never Built.' : project.lastStart | date: 'medium' }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template ngFor let-build [ngForOf]="builds" [ngBusy]="buildsLoading">
  <ng-container>
    <div class="row" [ngClass]="build.hidden ? 'remove-build': ''">
      <div class="col-md-12">
        <div class="card text-center" [ngClass]="classDependingOnStatus(build, false)">

          <div class="card-header">
            <span class="badge float-left" [ngClass]="classDependingOnStatus(build, true)">{{ build.status }}</span>
            {{ 'builds.build.id' | translate }}<u>#{{ build.id }}</u> / {{ 'builds.build.branch' | translate }}<u>{{ build.branch }}</u>
            <i class="fa fa-times float-right mouse-pointer" *ngIf="build.status != 'IN_PROGRESS'" (click)="showDeleteBuildDialog(build)"></i>
          </div>

          <div class="card-block mouse-pointer" (click)="redirectToStepPage(build)">

            <table align="center" width="100%" style="text-align: left;">
              <tr>
                <td width="25%"><b translate>builds.build.start</b>{{ build.startBy }}</td>
                <td style="text-align: center;">{{ build.commitMessage }}</td>
                <td width="25%" style="text-align: right;">{{ build.commitHash }}</td>
              </tr><br/>

              <tr>
                <td width="25%"><b translate>builds.build.startedAt</b>{{ build.buildStart | date: 'medium' }}</td>
                <td style="text-align: center;"><b translate>builds.build.endAt</b>{{ build.buildEnd | date: 'medium' }}</td>
                <td width="25%" style="text-align: right;">
                  <b>Time : </b> {{
                    (!build.buildEnd)
                      ? ((today | amDifference: build.buildStart  : 'minutes') == 0)
                          ? (today | amDifference: build.buildStart  : 'seconds') + " seconde(s)"
                          : (today | amDifference: build.buildStart  : 'minutes') + " minute(s)"
                      : ((build.buildEnd | amDifference: build.buildStart : 'minutes') == 0)
                          ? (build.buildEnd | amDifference: build.buildStart : 'seconds')  + " seconde(s)"
                          : (build.buildEnd | amDifference: build.buildStart : 'minutes') + " minute(s)"
                  }}
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-template>

<p-dialog appendTo="body" header="{{ 'builds.dialog.header' | translate }}" [(visible)]="dialogDeleteBuildVisible" modal="modal" width="300" [draggable]=false (onHide)="hideDeleteBuildDialog()">

  {{ 'builds.dialog.body' | translate }} #{{ confirmDeleteBuild.id }} ?
  <div class="col-xs-12" style="height:50px;"></div>
  <p-footer>
    <button type="button" class="btn btn-success mouse-pointer" (click)="deleteBuild()" translate><i class="fa fa-check"></i> builds.dialog.yes</button>
    <button type="button" class="btn btn-danger mouse-pointer" (click)="hideDeleteBuildDialog()" translate><i class="fa fa-ban"></i> builds.dialog.no</button>
  </p-footer>
</p-dialog>

<toaster-container [toasterconfig]="toasterConfig"></toaster-container>
